{% extends 'base.html' %}

{% block base %}

<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item  mr-5">
            <a class="nav-link" href="{% url 'home' %}">Přehled <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active mr-5">
            <a class="nav-link " href="{% url 'add_rooms' %}">Místnosti</a>
            </li>
            <li class="nav-item dropdown mr-5">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Senzory
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'add_device' 'pull' %}">Přidat Pull senzor</a>
                <a class="dropdown-item" href="{% url 'add_device' 'push' %}">Přidat Push senzor</a>
              </div>
          </li>
            <li class="nav-item mr-5">
                <a class="nav-link" href="{% url 'export' %}">Export dat</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Odhlásit se</button>
        </form>
        </div>
    </div>
  </nav>


<h1 class="mt-5 mb-5">Přidat novou místnost</h1>

<form action="" method="post">{% csrf_token %}
  <table class="table">
    <tr>
       <td>Název místnosti</td>
     <td style="text-align: right; ">{{ room_form.name }}</td>
   </tr>
 </table>
 <hr>
 <div style="text-align: center">
   <input type="submit" value="Přidat" class="btn btn-success my-2 my-sm-0">
 <div>
</form>


{% endblock  %}
